<h1> Welcome to Tinstagram </h1>

<body>
<a href="/users/sign_in"class="button">
<input class="button" type="submit" value="Sign In"></a>

<a href="/users/sign_out"class="button">
<input class="button" type="submit" value="Sign Out"></a>
<body>

<a href="/posts/"class="button">
<input class="button" type="submit" value="View Posts"></a>
</body>


<a href="/posts/new"class="button">
<input class="button" type="submit" value="New Post"></a>
</body>