
<h1>Welcome </h1>

<body>
  <a href="/users/sign_in">
    <input class="button is-danger is-light"  type="submit" value="Sign In">
  </a>

  <a href="/users/sign_out">
    <input class="button is-danger is-light"  type="submit" value="Sign Out">
  </a>


  <a href="/posts/">
  <input class="button is-danger is-light" type="submit" value="View Posts">
  </a>

  <a href="/posts/new" >
    <input class="button is-danger is-light" type="submit" value="New Post">
  </a>
  </body>
