<section class="section">
  <div class="container">
    <h1 class="title">
      <%= @post_this.title %>
    </h1>
    <%# <div class="content">
      <%= @post.caption %>
    </div>
  </div>
</section>
